*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas:
  'Header Header'
  'Sidebar_left Main'
}

.Header {
  grid-area: Header;
  background-color: red;
  width: 100%;
  height: 50px;
}

.Sidebar_left {
  grid-area: Sidebar_left;
  background-color: blue;
  width: 100px;
  height: 100%;
}

.Main {
  grid-area: Main;
  background-color: green;
  width: 100%;
  height: 100%;
}

