*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}


.teste img{
  width: 55px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
